<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：绑定一个对应的Dao接口 -->
<mapper namespace="com.UserMapper">

    <!-- resultMap：结果集映射 -->
    <resultMap id="UserMap" type="User">
        <!-- column：数据库中的字段，property：实体类中的属性 -->
        <result column="pwd" property="password"/>
    </resultMap>

    <select id="getUserById" parameterType="int" resultMap="UserMap">
        select *
        from mybatis.user
        where id = #{qid};
    </select>

    <!-- 分页 -->
    <select id="getUserByLimit" parameterType="map" resultType="user" resultMap="UserMap">
        select *
        from mybatis.user
        limit #{startIndex},#{pageSize};
    </select>
</mapper>